body * {
  font-family: "spinwerad", "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
}

h1, h2, h3, p, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fcc100;
}

i {
  color: #222;
}

.mt100 {
  margin-top: 100px;
}

.more {
  border: 1px #222 solid;
  padding: 10px;
  text-align: center;
  color: #222;
  white-space: nowrap;
}
.more:hover {
  background-color: #222;
  color: #fff;
  transition: 0.5s;
}

#mainNav {
  border-bottom: 1px #222 solid;
}

#main_banner {
  height: auto;
  padding-top: 65px;
}
#main_banner .main_banner_txt {
  font-size: 6vw;
}
#main_banner .main_banner_subtxt {
  font-size: 4vw;
}
#main_banner .main_a {
  border: 1px solid #222;
  width: 70px;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  animation: down 8s linear 0s infinite normal;
  margin-top: 20px;
}
#main_banner .main_gif {
  background-color: #000;
  background-image: url("../img/web.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 450px;
  max-height: 520px;
}
@media (max-width: 1024px) {
  #main_banner .main_banner_txt {
    font-size: 9vw;
  }
  #main_banner .main_banner_subtxt {
    font-size: 6vw;
  }
}
@media (max-width: 768px) {
  #main_banner .main_banner_txt {
    font-size: 11vw;
  }
  #main_banner .main_banner_subtxt {
    font-size: 7vw;
  }
}
@media (max-width: 375px) {
  #main_banner .main_gif {
    height: 360px;
  }
}
@media (max-width: 375px) {
  #main_banner .main_banner_txt {
    font-size: 12vw;
  }
}

@keyframes down {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#aboutme .cycle {
  border: #000 1px solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
}
#aboutme .cycle:hover {
  transform: translateY(-7%);
  transition: 0.5s ease-in;
}

#teamproject {
  background: rgba(252, 193, 0, 0.3);
}
#teamproject .swiper-button-next,
#teamproject .swiper-button-prev {
  color: #222;
  border: 1px #222 solid;
  padding: 20px;
}
#teamproject .swiper-button-next {
  right: 5%;
}
#teamproject .swiper-button-prev {
  left: 5%;
}
#teamproject .swiper-button-next::after,
#teamproject .swiper-button-prev::after {
  font-size: 20px;
}
#teamproject .border_ {
  border-bottom: 1px #222 solid;
  line-height: 2.5;
  margin-bottom: 2rem;
}
#teamproject .more {
  width: 49%;
}
@media (max-width: 1200px) {
  #teamproject .swiper-button-next {
    right: 1%;
  }
  #teamproject .swiper-button-prev {
    left: 1%;
  }
}
@media (max-width: 575px) {
  #teamproject .swiper-button-next,
  #teamproject .swiper-button-prev {
    display: none;
  }
}

#portfolio .portfolio-link {
  height: 350px;
}

#pre_interview .accordion-item:first-child(1) {
  border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

footer {
  border-top: 1px #222 solid;
}
footer p {
  font-size: 0.9rem;
}